/* General */

* {
  margin: 0;
}

html {
  overflow: hidden;
  height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

#hero-wrapper h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 50px;
  color: #373C51;
  text-align: center;
  padding: 200px 0 0 0;
}

/* Hero */

#hero-wrapper {
  height: 500px;
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}